body {
     background: #000000;
     color: white;
}

h1 {
    color: orange;
    text-align: center;
}
/*Menú*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: Orange;
}

.active {
    background-color: Silver;
}
/*Imatge pagina principal*/
.container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}


/*Taules i text Pagina2*/
p {
  color: white;
}
h2 {
	color: orange;
    }
p.six {
    border-style: double;
    border-width: thick;
    border-color: orange;
}

/*FlexBox Pagina3*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: pink;
}

.flex-item {
    background-color: cornflowerblue;
    width: 75px;
    height: 75px;
    margin: auto;
}
