<html>
<head>

<style type="text/css">
h1	{
text-align:center;
color:black;
font size=15;}
p{
text-indent: 50px;
  text-align:left;
  letter-spacing:3px;
  color:red;}
ol.a {
list-style-type:upper-roman;}
table{border-collapse:collapse;}
table, td, th{border:5px solid black;}
a:link {color:black}
a:visited {color:red}
a:hover {color:grey}
a:active {color:green}
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: ;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: black;
    color: orange;
}

li a:hover:not(.active) {
    background-color: #555;
    color: silver;
}



</html>
